upstream django {
    server 127.0.0.1:8001;
}

# configuration of the server
server {
    # the port your site will be served on
    listen 443 ssl;
    ssl on;
    ssl_certificate    /etc/ssl/answer.shenzhongqiang.com-2020.pem;
    ssl_certificate_key    /etc/ssl/answer.shenzhongqiang.com-2020.key;

    # the domain name it will serve for
    server_name answer.shenzhongqiang.com; # substitute your machine's IP address or FQDN
    charset     utf-8;

    root /var/www/answer_planet;

    # max upload size
    client_max_body_size 75M;   # adjust to taste

    location /static {
        alias /var/www/answer_planet/static; # your Django project's static files - amend as required
        autoindex on;
    }

    # Finally, send all non-media requests to the Django server.
    location / {
        uwsgi_pass  django;
        include /etc/nginx/uwsgi_params; # the uwsgi_params file you installed
    }
}
