{% extends 'mainapp/base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-10">
    <div class="mt-4" id="my-rank">
      <p class="lead text-center">我的排名</p>
      <div class="row border-top border-bottom">
        <div class="col-7 my-1">
          <div><span>{{ my_username }}</span></div>
          <div id="myrank"><span>排名: </span><span>{{ my_rank }}</span></div>
        </div>
        <div class="col-5 my-1 text-primary" id="myscore" style="font-size: 1.2rem;">
          <div class="my-2 border-left text-center">
            <span>总分: </span>
            <span>{{ my_score }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5" id="top-rank">
      <p class="lead text-center">总分排行榜Top 10</p>
      <div class="row border-bottom top-header">
        <div class="col-2"></div><div class="col-6">用户</div><div class="col-4">总分</div>
      </div>
      {% for u in leaders %}
      <div class="row border-bottom top-item py-1">
        <div class="col-2">{{ forloop.counter }}</div><div class="col-6">{{ u.username }}</div><div class="col-4">{{ u.score }}</div>
      </div>
      {% endfor %}
    </div>


    <div class="text-center my-4">
      <a href="{% url 'questions' %}" role="button" class="btn btn-outline-primary rounded-pill">继续答题</a>
      <a href="/invite" role="button" class="btn btn-outline-primary rounded-pill">邀请好友</a>
    </div>
  </div>
</div>
{% endblock %}

