{% extends 'mainapp/base.html' %}
{% block content %}
<div class="text-center" id="brand">
  <img src="/static/img/logo.jpg" id="logo" alt width="72" height="72">
  <p class="lead" id="brandname">Python与数据分析</p>
</div>
<h1 class="text-center" id="title">有奖竞答</h1>
<form id="fm-signin">{% csrf_token %}
  <div class="row justify-content-center">
    <div class="form-group col-9">
      <input type="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="用户名" onchange="login.update_username(event)">
      <div id="username-err"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group col-9">
      <input type="password" class="form-control" id="password" placeholder="密码" onchange="login.update_password(event)">
      <div id="password-err"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="text-center col-9">
      <button type="button" class="btn btn-primary rounded-pill col-10" id="btn-signin" onclick="login.submit()">登录</button>
    </div>
  </div>
</form>
<div class="row justify-content-center" id="lnk-reg">
  <a href="{% url 'register' %}">新用户注册</a>
</div>

<!-- modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-model-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center" id="login-modal-body"></div>
 	</div>
  </div>
</div>
{% endblock %}

