{% extends 'mainapp/base.html' %}
{% block content %}
<div id="welcome">
  <div class="row justify-content-center">
    <p class="lead">你好, {{ username }}</p>
  </div>
</div>
<div id="menu">
  <div class="row justify-content-center menu-item-space">
    <div class="text-center col-9">
      <a href="{% url 'questions' %}" role="button" class="btn btn-primary rounded-pill col-10 menu-btn" id="btn-answer">开始答题</a>
    </div>
  </div>
  <div class="row justify-content-center menu-item-space">
    <div class="text-center col-9">
      <a href="{% url 'leaderboard' %}" role="button" class="btn btn-primary rounded-pill col-10 menu-btn" id="btn-leader">积分排行榜</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="text-center col-9">
      <a href="{% url 'invite' %}" role="button" class="btn btn-primary rounded-pill col-10 menu-btn" id="btn-invite">邀请好友</a>
    </div>
  </div>
  <hr class="col-9" id="menu-split" />
  <div class="row justify-content-center">
    <div class="text-center col-9">
      <a href="{% url 'logout' %}" role="button" class="btn btn-danger rounded-pill col-10 menu-btn" id="btn-logout">退出登录</a>
    </div>
  </div>
</div>
{% endblock %}
