{% extends 'mainapp/base.html' %}
{% block content %}
<div class="row justify-content-center" style="margin-top: 5rem;">
  <div class="text-center col-9">
    <p>前三名可获得精美奖品，奖品如下：</p>
    <p class="lead" style="margin-top: 3rem;">第一名</p>
    <p class="prize-detail">自选图书 x 2，茶包 x 1</p>
    <p class="lead" style="margin-top: 2rem;">第二名</p>
    <p class="prize-detail">自选图书 x 2，茶包 x 1</p>
    <p class="lead" style="margin-top: 2rem;">第三名</p>
    <p class="prize-detail">茶包 x 1</p>
    <p id="sponsor-info">本活动图书由<strong>图灵教育出版社</strong>赞助，茶包由<strong>程序员茶</strong>赞助。感谢图灵教育出版社和程序员茶的鼎力支持。</p>
  </div>
</div>
{% endblock %}


