{% extends 'mainapp/base.html' %}
{% block content %}
<div class="text-center" id="brand">
  <img src="/static/img/logo.jpg" id="logo" alt width="72" height="72">
  <p class="lead" id="brandname">Python与数据分析</p>
</div>
<h5 class="text-center text-body" id="title">新用户注册</h5>
<form id="fm-signin">
  <div class="row justify-content-center">
    <div class="form-group col-9">
      <input type="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="输入用户名">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group col-9">
      <input type="password" class="form-control" id="password" placeholder="输入密码">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group col-9">
      <input type="pwdconfirm" class="form-control" id="pwdconfirm" placeholder="再次输入密码">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="text-center col-9">
      <button type="button" class="btn btn-primary rounded-pill col-10" id="btn-reg">注册</button>
    </div>
  </div>
</form>
<div class="row justify-content-center" id="lnk-sgn">
  <a href="{% url 'login' %}">登录</a>
</div>
{% endblock %}
